body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 2000px;
}

.job-title {
    color: #F47D27 !important;
}

.card-body {
    background-color: #F5F5F5 !important;
}

.btn-white {
    background-color: #FFF !important;
}

.btn-linkedin {
    color: #FFF !important;
    background-color: #297FE5 !important;
}

.btn-footer {
    border: none !important;
    color: #D5D4D8 !important;
    background-color: #918E9B !important;
}

footer {
    background-color: #D5D4D8 !important;
}